<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата</title>
</head>
<body>
    <h1>Переведите <%= sellSum %> <%= sellCurrency %> на этот адрес</h1>
    <img src="images/<%= qr %>" alt="">
    <h3>И ожидайте ваши <%= buySum %> <%= buyCurrency %> на указанном вами кошельке</h3>
</body>
</html>